<form action="/wikis/<%= wiki.id %>/collaborators/create" method="POST">
    <div class="form-group">
        <label for="collaborator">Add Collaborators</label>
        <input type="text" class="form-control" name="collaborator" id="collaborator" placeholder="Enter an email address">
    </div>
    <button type="submit" class="btn btn-primary">Add user</button>
</form>