<% if(collaborator) { %>
    <div style="width: 50%">
        <hr>
        <p>
            <%= collaborator.User.email %>
        </p>
        <form style="display:initial"
              action="/wikis/<%= wiki.id %>/collaborators/destroy"
              method="post">
          <button type="submit" class="btn btn btn-sm btn-outline-danger">Delete</button>
        </form>
    </div>
  <% } %>
  
