<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main id="wikiIndexBody" class="container">

        <% include ../static/partials/messages.ejs %>
        <% include ../static/partials/navbar.ejs %>

        <h1>Upgrade to Premium</h1>
        

    </main>

        <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>