<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main id="wikiIndexBody" class="container">

        <% include ../static/partials/messages.ejs %>
        <% include ../static/partials/navbar.ejs %>

        <h2>Upgrade to Premium</h2>

        <p>
            Upgrading to premium will allow you to create your own private wiki's and 
            allow you to invite users of your choice to view and collaborate on the wiki.
        </p>

        <p>
          UPGRADE IS FREE TO EVERY ONE. To upgrade, follow these instructions:
        </p>

        <ol>
          <li>Press the "pay with card" button below.</li>
          <li>Enter any valid email.</li>
          <li>For the card number, enter 4242 4242 4242 4242</li>
          <li>For date, enter 12/21</li>
          <li>Enter a random 3 digit CVC code.</li>
          <li>Submit information.</li> 
        </ol>
        
        <form action="/upgrade" method="POST">
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_UlvpfN7UzEBINHtfcTt59kIp00MiemDoos"
                data-amount="1500"
                data-name="Upgrade to Premium"
                data-description="Example charge"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
            </script>
        </form>

    </main>

        <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>