<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main id="wikiIndexBody" class="container">

        <% include ../static/partials/messages.ejs %>
      <% include ../static/partials/navbar.ejs %>

      <h1 id="wikiIndexTitle">Wiki's</h1>

      <% if(currentUser) { %>
        <a href="/wikis/new" class="btn btn-success">New Wiki</a>
      <% } %>
        <hr>
      <div class="list-group">
        <% wikis.forEach((wiki) => { %>

          <% if(wiki.private === true) { %>
            <% if(currentUser) { %>
              <% if(currentUser.dataValues.id === wiki.userId || currentUser.dataValues.role === 2) { %>
                <a class="list-group-item list-group-item-action" href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              <% } %>  
            <% } %>

          <% } else { %>
            <a class="list-group-item list-group-item-action" href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
          <% } %>  

        <% }) %>
        </div>

    </main>
  </body>
</html>