<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body id="indexBody">

        <% include ./partials/navbar.ejs %>

        <main>

            <% include ../static/partials/messages.ejs %>

            <div id="mainTitle" class="jumbotron rounded-circle col-8 border border-dark">
                <h1 class="display-2">Bloccipedia</h1>
                <hr id="firstHr" class="my-2">
                <hr id="secondHr" class="my-1">
                <p id="mainParagraph" class="lead">A place for people to collaborate their research.</p>
            </div>

        </main>

        <% include ./partials/baseScripts.ejs %>
        
    </body>
</html>