<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>

        <% include ../static/partials/navbar.ejs %>

        <main>

            <% include ../static/partials/messages.ejs %>

            <div id="verificationBody">
                <h2>Verification</h2>

                <div class="row">
                    <div class="col-10">
                        <p>Please enter the 6 digit code sent to <%= currentUser.email %></p>
                        <form method="POST" action="/users/verification">
                            <div class="form-group">
                                <label for="verificationCode">Code: </label>
                                <input type="text" name="verificationCode" placeholder="Enter Code" class="form-control">
                            </div><br/>
                            <input type="submit" value="Verify" class="btn btn-success"/>
                        </form>
                    </div>
                </div>
            </div>

        </main>

        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>